* {
    margin: 0;
    padding: 0;
}

.register {
   display: flex;
   justify-content: center;
   align-items: center;
    margin-top: 200px;

}
.register input {
    padding: 20px;
    margin: 5px;
    border: none;
    border-bottom: 2px solid blue;
}
   


.register button {
    padding: 20px;
    margin: 5px;
    width: 100%;
    border-radius: 2px solid;
    background-color: lightskyblue;
    
   

}


.file {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    width:100%;
}
.btn{
    padding: 20px !important;
    margin: 5px!important;
  
    border-radius: 2px solid!important;
    background-color: lightskyblue!important;

}


